.searchBarContainer {
  margin-bottom: 20px;
  background: #f6f6f6;
  padding: 12px;
  border-radius: 10px;
  color: #6f6f6f;
}

.searchBarContainer .searchIcon {
  position: absolute;
  background: inherit;
  color: inherit;
}

.searchBarContainer .searchBarInput {
  padding-left: 35px;
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
}

.searchBarContainer .searchBarInput::-webkit-input-placeholder {
  color: inherit;
}

.searchBarContainer .searchBarInput:-ms-input-placeholder {
  color: inherit;
}

.searchBarContainer .searchBarInput::-ms-input-placeholder {
  color: inherit;
}

.searchBarContainer .searchBarInput::placeholder {
  color: inherit;
}
