.bottomNavigationContainer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.bottomNavigationContainer .bottomNavigationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #fff;
  -webkit-box-shadow: 0px -1px 1px #e4e4e4;
          box-shadow: 0px -1px 1px #e4e4e4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottomNavigationContainer .bottomNavigationWrapper .navigationTab {
  color: grey;
  background-color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.bottomNavigationContainer .bottomNavigationWrapper .navigationTab:focus, .bottomNavigationContainer .bottomNavigationWrapper .navigationTab :active, .bottomNavigationContainer .bottomNavigationWrapper .navigationTab :hover, .bottomNavigationContainer .bottomNavigationWrapper .navigationTab ::-moz-selection {
  color: #575ce5;
  background-color: #fff;
}

.bottomNavigationContainer .bottomNavigationWrapper .navigationTab:focus, .bottomNavigationContainer .bottomNavigationWrapper .navigationTab :active, .bottomNavigationContainer .bottomNavigationWrapper .navigationTab :hover, .bottomNavigationContainer .bottomNavigationWrapper .navigationTab ::selection {
  color: #575ce5;
  background-color: #fff;
}

.bottomNavigationContainer .bottomNavigationWrapper .navigationTab .navigationIcon {
  padding: 20px;
  background-color: #fff;
}
