.horizontalLadderContainer{
    margin-bottom: 15px;
    .horizontalLadderWrapper{
        padding: 7px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        background-color: #f6f6f6;

        .ladderElement{
            border-radius: 18px;
            padding: 5px 15px;
            color: #6f6f6f;
            border-color: #575ce5;
            text-decoration: none;
            outline: none;
            background: transparent;
            // padding: 5px;
            border-style: none;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;

            &:focus{
                background: #575ce5;
                color: #fff;
            }
        }
    }

}