.bannerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    // padding: 25px;

    .bannerWrapper{
        img{
            width: 200px;
            object-fit: cover;

            @media screen and (min-width: 768px) {
                width: 300px;
            }
        }
    }
}
