.categoryBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categoryBox .categoryIcon {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #f6f6f6;
  color: #575CE5 !important;
}

.categoryBox .categoryIcon * {
  color: #575CE5 !important;
}

.categoryBox .categoryText {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #6f6f6f;
}
