.navbarContainer {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarContainer .leftSide .textWrapper .helloText {
  font-size: 14px;
  font-weight: 500;
}

.navbarContainer .leftSide .textWrapper .nameText {
  font-size: 17px;
  font-weight: 600;
}

.navbarContainer .rightSide .profileImg {
  height: 60px;
}

.navbarContainer .rightSide .profileImg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
